<div class="box-body">
  <table class="table" style="background-color: white">
     <thead>
       <tr>
         <th>Nome</th>
         <th>Mês</th>
         <th>Ano</th>
         <th>Saldo</th>
         <th>Total Créditos</th>
         <th>Total Débitos</th>
         <th>Editar</th>
         <th>Excluir</th>
       </tr>
     </thead>
     <tbody>
        <tr *ngFor="let c of ciclos">
            <td>{{c.nome}}</td>
            <td>{{c.mes}}</td>
            <td>{{c.ano}}</td>
            <td >{{ c.saldo }}</td>
            <td>{{ c.totalCreditos }}</td>
            <td>{{ c.totalDebitos }}</td>
            <td>
                <button class="btn btn-warning" (click)="visualizar(c.id)">
                    <i class="fa fa-pencil"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="delete(c.id)">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
     </tbody>
  </table>
</div>