<aside class="main-sidebar">
  <section class="sidebar">
     <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a [routerLink]="['']">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
        <a href="#">
          <i class="fa fa-edit"></i> <span>Ciclo de Pagamento</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
            <li><a [routerLink]="['/ciclo-pagamento-lista']"><i class="fa fa-circle-o"></i>Lista</a></li>
          <li><a [routerLink]="['/ciclo-pagamento']"><i class="fa fa-circle-o"></i>Novo</a></li>
        </ul>
        <a href="#">
          <i class="fa fa-edit"></i> <span>Cliente</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
            <li><a [routerLink]="['/cliente']"><i class="fa fa-circle-o"></i>Lista</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
